p, th, td, h1, h2, h3, h4 {
  font-family: sans-serif;
}

table {
  border-spacing: 0 0.2em;
}
th, td {
  padding-left: 0.5em;
  padding-right: 1em;
  text-align: left;
}
tbody tr:last-child td {
  border-bottom: 1px #777 solid;
}
thead tr th {
  border-bottom: 2px black solid;
}
tr:nth-child(even) {background: #EEE}
tr:nth-child(odd) {background: #FFF}

.color-long {
  color: black;
  font-family: monospace;
}
.color-short {
  color: blue;
  font-family: monospace;
}
.color-urgent {
  color: orange;
  font-family: monospace;
}
.color-critical {
  color: red;
  font-family: monospace;
}
.color-past {
  color: gray;
  font-family: monospace;
}
